streamlit
pandas
numpy
matplotlib
plotly
requests
yfinance
scikit-learn
xgboost
lightgbm
tensorflow
prophet
pmdarima
optuna
faiss-cpu
sentence-transformers
transformers
torch
groq
pdfplumber
beautifulsoup4
textblob
ta
scipy
